#!/usr/bin/env ruby
# coding: utf-8

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  
  items.each do |item|
    patharray = item[:filename].split('/')
    item[:firstpath] = '/' + patharray[1] + '/'
    
    if patharray.count > 2 && patharray[2] !~ /\.(md|html)/i
      item[:secondpath] = item[:firstpath] + patharray[2] + '/'
    else
      item[:secondpath] = item[:firstpath]
    end
    
  end
end

compile '/static/**/*' do
end

compile '/CNAME/' do
end

compile '/business-edition/**/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2,3]
  filter :colorize_syntax,
         :default_colorizer => :pygmentsrb,
         :pygmentsrb => {:options => {:nowrap => 'False', :linenos => 'table'}}
  filter :add_toc

  layout 'ebe'
  item.identifier + "index.html"
end

compile '**/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2,3]
  filter :colorize_syntax,
         :default_colorizer => :pygmentsrb,
         :pygmentsrb => {:options => {:nowrap => 'False', :linenos => 'table'}}
  filter :add_toc

  layout 'default'
  item.identifier + "index.html"
end

#route '/static/*' do
#  item.identifier[7..-2]
#end

route '/static/**/*' do
  item.identifier.to_s.sub(/\A\/static/, '')
end

route '/CNAME/' do
  '/CNAME'
end

route '**/*' do
  item.identifier + 'index.html'
end

layout '**/*', :erb

