/* --- FONTS --- */

@font-face {
    font-family: "nunito-bold";
    src: url("https://docs.ejabberd.im/fonts/Nunito-Bold-webfont.eot");
    src: url("https://docs.ejabberd.im/fonts/Nunito-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://docs.ejabberd.im/fonts/Nunito-Bold-webfont.woff2") format("woff2"),
         url("https://docs.ejabberd.im/fonts/Nunito-Bold-webfont.woff") format("woff"),
         url("https://docs.ejabberd.im/fonts/Nunito-Bold-webfont.ttf") format("truetype"),
         url("https://docs.ejabberd.im/fonts/Nunito-Bold-webfont.svg#nunito-bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "nunito-light";
    src: url("https://docs.ejabberd.im/fonts/Nunito-Light-webfont.eot");
    src: url("https://docs.ejabberd.im/fonts/Nunito-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://docs.ejabberd.im/fonts/Nunito-Light-webfont.woff2") format("woff2"),
         url("https://docs.ejabberd.im/fonts/Nunito-Light-webfont.woff") format("woff"),
         url("https://docs.ejabberd.im/fonts/Nunito-Light-webfont.ttf") format("truetype"),
         url("https://docs.ejabberd.im/fonts/Nunito-Light-webfont.svg#nunito-light") format("svg");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "nunito-regular";
    src: url("https://docs.ejabberd.im/fonts/Nunito-Regular-webfont.eot");
    src: url("https://docs.ejabberd.im/fonts/Nunito-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("https://docs.ejabberd.im/fonts/Nunito-Regular-webfont.woff2") format("woff2"),
         url("https://docs.ejabberd.im/fonts/Nunito-Regular-webfont.woff") format("woff"),
         url("https://docs.ejabberd.im/fonts/Nunito-Regular-webfont.ttf") format("truetype"),
         url("https://docs.ejabberd.im/fonts/Nunito-Regular-webfont.svg#nunito-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* --- OVERRIDES --- */

body,
.swagger-ui-wrap {
  font-family: "nunito-light", Helvetica, Arial, sans-serif !important;
  font-weight: lighter !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.swagger-ui-wrap a,
.swagger-section .swagger-ui-wrap a,
.swagger-ui-wrap a:hover {
  color: #3EAFFA;
}

input {
  border: 1px solid #fff;
  border-radius: 3px;
}

.swagger-section #explore,
.swagger-section #explore:hover {
  background-color: #3EAFFA;
}

.swagger-section #header {
  background-color: #2B3038;
}

.swagger-section #header #logo {
  display: inline-block;
  height: 23px;
  padding: 4px 0 0 150px;

  background: transparent url(https://docs.ejabberd.im/shared/images/header_logo_full_name@2x.png) no-repeat left center;
  background-size: auto 100%;
  
  text-transform: capitalize;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
  color: #3EAFFA;
}