/* --- FONTS --- */

@font-face {
    font-family: "nunito-bold";
    src: url("../fonts/Nunito-Bold-webfont.eot");
    src: url("../fonts/Nunito-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Nunito-Bold-webfont.woff2") format("woff2"),
         url("../fonts/Nunito-Bold-webfont.woff") format("woff"),
         url("../fonts/Nunito-Bold-webfont.ttf") format("truetype"),
         url("../fonts/Nunito-Bold-webfont.svg#nunito-bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "nunito-light";
    src: url("../fonts/Nunito-Light-webfont.eot");
    src: url("../fonts/Nunito-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Nunito-Light-webfont.woff2") format("woff2"),
         url("../fonts/Nunito-Light-webfont.woff") format("woff"),
         url("../fonts/Nunito-Light-webfont.ttf") format("truetype"),
         url("../fonts/Nunito-Light-webfont.svg#nunito-light") format("svg");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "nunito-regular";
    src: url("../fonts/Nunito-Regular-webfont.eot");
    src: url("../fonts/Nunito-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Nunito-Regular-webfont.woff2") format("woff2"),
         url("../fonts/Nunito-Regular-webfont.woff") format("woff"),
         url("../fonts/Nunito-Regular-webfont.ttf") format("truetype"),
         url("../fonts/Nunito-Regular-webfont.svg#nunito-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* --- STYLES --- */

body {
  background: #3eaefb;
  
  font-family: "nunito-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
  body.homepage {
    background: url(../images/background@2x.png) center 60px no-repeat #3eaefb;
    background-size: 100% auto;
  }
  body.blog {
    background: #fff;
  }

/* Overrides */
  
  body .on-blog,
  body.blog #sidebar,
  body.blog .off-blog {
    display: none;
  }
  
  body.blog .on-blog {
    display: block;
  }

a {
  color: #3daefb;
}
  a:hover,
  a:active {
    color: #3daefb;
  }

ul {
  padding-left: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "nunito-regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h2,h3,h4 {
  margin-top: 1.5em;
  color: #3EAFFA;
}
h5,h5 {
  margin-top: 20px;
}

.btn {
  padding: 1em 2em;
  
  border: 1px solid #fff;
  border-radius: 8px;
  
  text-transform: uppercase;
  font-weight: lighter !important;
}
  .btn:hover {
    border-color: #fff;
    background-color: #fff;
    color: #3e9cda !important;
  }
  
/* Core styles */
  
.container-fluid .row > div:first-child {
  padding-left: 10%;
}
.container-fluid .row > div:last-child {
  padding-right: 10%;
}

#header-wrapper {
  padding: 20px 0 15px 0;
  background-color: #2B3038;
}

#logo {
  display: inline-block;
  
  text-decoration: none;
  font-size: 18px;
  color: #3EAFFA;
}
  #logo > * {
    display: inline-block;
    vertical-align: bottom;
  }

  #logo img {
    margin-right: 10px;
  }

#logo-footer {
  display: inline-block;
  
  font-size: 34px;
}

#header menu {
  margin: 0;
  padding: 0;
  
  list-style: none;
  float: right;
} 
  #header menu li a {
    padding-left: 20px;
    
    background: url(../images/arrow_header@2x.png) left center no-repeat transparent;
    background-size: 9px 13px;
  
    text-transform: uppercase;
    color: #fff;
  }
  
  #header menu li a:hover,
  #header menu li a:active {
    color: #fff;
  }

#sidebar,
#content {
  min-height: 600px;
}

#sidebar {
  padding-top: 60px;
  
  background: url(../images/background@2x.png) top center no-repeat #3eaefb;
  background-size: auto 728px;
  
  line-height: 2em;
  font-size: 18px;
}
  body.homepage #sidebar {
    background: none;
  }

  #sidebar a {
    text-decoration: none;
    color: #444;
  }
    #sidebar a.current-item {
      color: #fff;
    }
  
  #sidebar a:hover,
  #sidebar a:active {
    text-decoration: none;
    color: #fff;
  }
  
  #sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
    #sidebar ul ul {
      margin-left: 10px;
      
      line-height: 2em;
      font-size: 0.9em;
    }
    body.homepage #sidebar ul li:first-child a {
      color: #fff;
    }

#content {
  padding-top: 60px;
  padding-left: 10%;
  
  background: #fff;
  
  line-height: 1.75em;
  font-size: 15px;
  color: #666;
}
  body.homepage #content {
    background: transparent;
    color: #fff;
  }
  body.blog #content {
    padding-left: 10%;
    background: transparent;
  }

  body.homepage #content h1 {
    margin-top: 0;
  }
  body.homepage #content h1,
  body.homepage #content p {
    margin-bottom: 40px;
  }
  
  body.homepage #content a {
    font-weight: bold;
    color: inherit;
  }

#footer-wrapper {
  background-color: #2B3038;
  padding: 30px 0 60px 0;
}
  #footer a {
    color: #666;
  }
  #footer a:hover,
  #footer a:active {
    text-decoration: none;
    color: #fff;
  }
  
  #footer menu {
    list-style: none;
    padding: 0;
  }

  #footer .sitemap {
    display: inline-block;
    vertical-align: top;
    
    margin: 0 100px 40px 0;
    padding: 0;
    list-style: none;
    
    line-height: 1.75em;
    font-size: 13px;
  }
    #footer .sitemap li a {
      text-transform: uppercase;
      color: #999;
    }
    #footer .sitemap li:first-child a {
      text-transform: none;
      color: #3daefb;
    }
    #footer .sitemap li a:hover,
    #footer .sitemap li a:active {
      text-decoration: none;
      color: #fff;
    }
    
#disqus_thread {
  margin-top: 40px;
}
    
/* Content specific styles */
#content img {
  max-width: 100%;
}

.line-numbers {
  margin-right: 1em;
}
  .line-numbers a {
    color: #bbb;
  }
  .line-numbers a:hover,
  .line-numbers a:active {
    color: #666;
  }

code {
    background: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit !important;
    font-family: inherit;
}
  
/* Blog specific styles */

body.blog .meta {
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 11px;
}
  body.blog .meta li {
    margin-right: 10px;
    display: inline-block;
  }
    body.blog .meta .who_when img {
      margin-right: 3px;
      border-radius: 10px;
      vertical-align: middle;
    }
    
  body.blog h2.title {
    margin: 10px 0 20px 0;
  }
  
  body.blog .read-more {
    display: inline-block;
    padding: 0.1em 1em 0.2em 1em;
    
    border: 1px solid #ccc;
    border-radius: 2em;
  }

/* Mobile styles */

@media only screen and (max-width: 990px) {
    
  #sidebar,
  #content {
    min-height: inherit;
  }
  
  #sidebar,
  #content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}