 <div id="footer-wrapper">
   <div id="footer" class="container-fluid">
     <div class="row">
       <div class="col-sm-3">
         <a href="https://www.ejabberd.im"><img src="/shared/images/footer_logo_e@2x.png" height="83" /></a>
       </div>
       <div class="col-sm-3">
         <a href="https://www.ejabberd.im"><img src="/shared/images/footer_logo_full_name@2x.png" height="21" alt="ejabberd.im" /></a>
 
         <menu>
           <li><a href="https://github.com/processone/ejabberd">Source Code</a></li>
           <li><a href="https://www.process-one.net/en/ejabberd/downloads">Downloads</a></li>
           <li><a href="http://docs.ejabberd.im/">Docs</a></li>
           <li><a href="https://github.com/processone/ejabberd/issues">GitHub Issues</a></li>
           <li><a href="https://www.ejabberd.im/forum/1">Forums</a></li>
         </menu>
       </div>
       <div class="col-sm-3">
         <a href="https://www.process-one.net"><img src="/shared/images/footer_logo_process_one@2x.png" height="19" alt="ProcessOne" /></a>
 
         <menu>
           <li><a href="https://boxcar.io">Boxcar</a></li>
           <li><a href="https://www.process-one.net/en/ejabberd/">ejabberd</a></li>
           <li><a href="https://www.process-one.net/en/ejabberd/saas/">ejabberd SaaS</a></li>
           <li><a href="https://hosted.im/">Hosted.IM</a></li>
           <li><a href="https://www.process-one.net/en/solutions/textone_about/">TextOne Open Messaging</a></li>
         </menu>
       </div>
       <div class="col-sm-3">
         <img height="19" />
 
         <menu>
           <li><a href="https://www.process-one.net/en/customers/case_studies">Customers</a></li>
           <li><a href="https://www.process-one.net/en/company/contact/">Contact</a></li>
           <li><a href="https://blog.process-one.net/">Blog</a></li>
           <li><a href="https://www.process-one.net/en/company/">About</a></li>
           <li><a href="http://feedback.process-one.net/">Support</a></li>
         </menu>
       </div>
     </div>
   </div>
 </div><!-- /#footer -->